#header {
    background: #ffffff;
    height: 250px;
}
.header_title {
    position: relative; 
    float: left;
    top: 5%;
    color: rgb(0, 0, 0);
    width: 100%;
}
.header_title_name {
    background: #ffffff;
    display: inline-block;
    width: 100%;
    font-size: 40px;
    text-align: left;
    padding-left: 10px;
}
#avatar {
    position: absolute; 
    right: 50px; 
    top: 30px;
    height: 200px;
    width: 150px;
}
#content {
    background: #ffffff;
    height: 100px;
}
.content_section {
    /* margin: 30px; */
}
.section_title {
    background: #9ffd4a;
    font-size: 30px;
    color: white;
    width: 100%;
    display: inline-block;
    padding-left: 10px;
}
